@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Wuzfni</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/user.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="HomeAdmin.html" class="logo d-flex align-items-center">
                <!-- <img src="~/img/logo.png" alt=""> -->
                <span class="d-none d-lg-block">Wuzfni</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">


                <div class="dropdown">

                    <a class="nav-link nav-profile d-flex align-items-center pe-2" id="dropdownMenuButton2" href="#" data-bs-toggle="dropdown">
                        <img src="~/img/apple-touch-icon.png" alt="Profile" class="rounded-circle dropdown-toggle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item " href="index.html" onclick="logout()">Sign out</a></li>

                    </ul>
                </div>


            </ul>
        </nav>
        <!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item" id="campanyName">
                <img src="~/img/team/team-1.jpg" alt="Profile" class="rounded-circle dropdown-toggle">
                <h2>Ahmed Ali</h2>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="Admins.html">
                    <i class="bi bi-person"></i>
                    <span>Admins</span>
                </a>
            </li>
            <li class="nav-item" id="personly">
                <a class="nav-link collapsed" asp-action="admincompan" asp-controller="admin">
                    <i class="bi bi-people"></i>
                    <span>Compannies</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="adminuser" asp-controller="admin">
                    <i class="bi bi-people"></i>
                    <span>Job seakers</span>
                </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="CategoryCategory" asp-controller="admin">
                    <i class="bi bi-card-list"></i>
                    <span>Category</span>
                </a>
            </li><!-- End F.A.Q Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="adminpriceplan" asp-controller="admin">
                    <i class="bi bi-bar-chart"></i>
                    <span> Price Plans</span>
                </a>
            </li><!-- End Contact Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-action="ContuctUsUser" asp-controller="admin">
                    <i class="bi bi-question-circle"></i>
                    <span> Technical problems</span>
                </a>
            </li><!-- End  change password Page Nav -->



            <li class="nav-item">
                <a class="nav-link collapsed" href="admin-Subscription.html">
                    <i class="bi bi-bar-chart"></i>
                    <span>Subscription</span>
                </a>
            </li><!-- End Account manager information Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="index.html">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Sign out</span>
                </a>
            </li><!-- End sign out Page Nav -->

        </ul>

    </aside>
    <main id="main" class="main">
        <section class="section profile">
            <div class="row">
                <div class="dashboard">
                    <div class="cards">
                        <div class="icon">Number of Admins </div>
                        <div class="count" id="Admins"><?php echo $admin ?></div>
                    </div>
                    <div class="cards">
                        <div class="icon">Number of Jobseekers</div>
                        <div class="count" id="Jobseekers"><?php echo $user ?></div>
                    </div>
                    <div class="cards">
                        <div class="icon">Number of Companies</div>
                        <div class="count" id="Companies"><?php echo $company ?></div>
                    </div>
                    <div class="cards">
                        <div class="icon">Number of Categrories</div>
                        <div class="count" id="Companies"></div>
                    </div>
                    <div class="cards">
                        <div class="icon">Number of price plans</div>
                        <div class="count" id="Companies"><?php echo $pricing_plan ?></div>
                    </div>
                    <div class="cards">
                        <div class="icon">Number of Subscribtions</div>
                        <div class="count" id="Companies"><?php echo $payment ?></div>
                    </div>
                    <div class="cards">
                        <div class="icon">Number of Technical problems</div>
                        <div class="count" id="Companies"><?php echo $contactmessages ?></div>
                    </div>
                </div>

            </div>
        </section>

    </main>

    <!-- End #main -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/chart.js/chart.umd.js"></script>
    <script src="~/vendor/echarts/echarts.min.js"></script>
    <script src="~/vendor/quill/quill.min.js"></script>
    <script src="~/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/homeCampany.js"></script>


</body>

</html>