
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Nunito", sans-serif; */
  font-family: 'Roboto', sans-serif;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/* nave bar */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items:end;
  padding-right: 400px;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #434175;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #5a5af3;
}
/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#campanyName{
  text-align: center;
}
#campanyName img{
  width: 100px;
  margin-bottom: 10px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #008a91;
  /* margin-top: 2%; */

  /* change --------------------------------------------------------------------------*/
  }
  


@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main
  /* #footer*/ { 
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main
  /* .toggle-sidebar #footer*/ { 
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 15px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
  color:black;
  background: rgb(155, 209, 198); 
  /* try background ------------------------------------------------*/
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  /* color: #4154f1; */
  color: white;
  background: black;
  /* try background */
}

.sidebar-nav .nav-link:hover i {
  /* color: #4154f1; */
  color: white;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

/* .nav-link{
  background-color: black;
  color: white;
} */

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
  
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;

}

/* Card */
.card {
  
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}


.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  /* padding: 20px 0 15px 0; */
  font-size: 25px;
  font-weight: 600;
  color: #012970;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/*--------------------------------------------------------------
# password
--------------------------------------------------------------*/
#my-pass-user{
  max-width: 600px;
  margin: auto;
}

.password {
  max-width: 500px;
  margin: auto;
  color: black;
  border-radius: 20 px;
  margin-bottom: 20px;
}

p {
  margin: 0px;
}

.container .h8 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.btn.btn-primarys {
  width: 100%;
  height: 60px;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-image: linear-gradient(to right, #1e18c2 0%, #88b2f1 51%, #8888eb 100%);
  border: none;
  transition: 0.5s;
  background-size: 200% auto;

}


.btn.btn.btn-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
  transform: translate(15px);
  transition: transform 0.2s ease-in;
}

.form-control {
  color: black;
  
  background-color: white;
  
  border: 2px solid #7db2e6;
  height: 60px;
  padding-left: 20px;
  vertical-align: middle;
}

.form-control:focus {
  color: black;
  
  background-color: white;
  border: 2px solid #4154f1;
  box-shadow:#4154f1;
}

.text {
  font-size: 15px;
  font-weight: 600;
}

::placeholder {
  font-size: 14px;
  font-weight: 600;
}


/* start posts ------------------------------------*/
.col{

  padding: 20px;
}
.card  .pt {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  
}
.col .card img{
  width: 50px;
  height: 50px;
  position: absolute;
  
}
.svg-inline--fa{
  font-size: xx-large;
}
.card-count{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.card>hr {
  margin-right: 40px;
  margin-left: 40px;
}
.card-title {
  margin-bottom: 0.5rem;
  padding-left: 120px;
  padding-top: 5px;
  /* margin-left: 20px; */
}
.container{
  padding-bottom: 10px;
}
.container .h8 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
#bookmarkIcon.saved {
  color: gold; /* تغيير اللون إلى الذهب */
  font-weight: bold;
}

/* end posts */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  /* background-color: var(--color-secondary); */
  background-color: black;
  padding: 50px 0;
  color: white;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info p {
  font-size: 14px;
  font-family: var(--font-primary);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(13, 66, 255, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}
/* end footer  */









/* Add job*/
.add-job{
    background-color:#6f54aa;
    padding:15px;
   border-radius: 15px;
   color: white;
}
.add-job:hover{
    background-color: #541eca;
   color: rgb(247, 241, 241);
}
.card-title{
    margin-left: -50px;
}
/* Details*/
/* body {
	font-family: Arial, sans-serif;
} */
.job-posting {
    width: 700px;
    margin-left: 5%;
    padding: 25px;
    padding-left: 50px;
    background-color: #fff;
    margin-bottom: 1%;
    
  }
hr{
  color: red;
  font-weight: 400px;
}
  
.requirement {
	width: 600px;
	border: 1px solid #ddd;
  margin-bottom: 3%;
	padding: 20px;
	box-shadow: 0 2px 5px silver;
}

.requirement h2 {
	margin-top: 0;
}

.requirement li {
	margin-bottom: 10px;
}
.Edit{
    margin-left: 100px; padding-left: 50px; padding-right: 50px;   
}

.delete{
    margin-left: 100px;padding-left: 50px; padding-right: 40px;  
}
.Change{
    margin-left: 100px;padding-left: 50px; padding-right: 40px;
}
/* show app*/
.show-app {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}
.show-app th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
    background-color: #ddd;
}
.show-app img{
    width: 100px;
    border-radius: 100%;
}
.asa td{
  border: none;
}
.asa img {
    border-radius: 100%;
}


.createCategory {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.createCategory:hover{
  background-color: #041c36;
}
.updateCategory{
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.updateCategory:hover{
  background-color: #687e08;
}
.deleteCategory{
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.deleteCategory:hover{
  background-color: #a11b09;
}

.containers {
  text-align: right;
}


.dashboard {
  display: ruby;
  justify-content: center;
  margin-top: 20px;
}

.cards {
  background-color: #00676d;
  color: #fff;
  border-radius: 8px;
  width: 450px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.cards .icon {
  font-size: 24px;
}

.cards .count {
  font-size: 20px;
  margin: 5px 0;
  text-align: center; 
}

.cards .label {
  font-size: 14px;
}

/* Accept interview */
#formOverlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#formContainer {
  position: relative;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-height: 80%;
  overflow-y: auto;
  width: 90%;
  max-width: 500px;
}

#closeFormButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

#formContainer h2 {
  text-align: center;
}

#formContainer form {
  display: flex;
  flex-direction: column;
}

#formContainer label {
  margin: 10px 0 5px;
}

#formContainer input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#formContainer button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#formContainer button[type="submit"]:hover {
  background-color: #0056b3;
}

/* #showFormButton ,#returnButton{
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */